body{
    background-color: black;
}

.formulario{
    display: flex
}
.pelicula{
    margin-top: 5%;
    width: 70%
       
}

.pelicula img{
 border-radius: 10px;
}

.formulario form{
    padding: 10%;
    margin-top: 5%;
    width: 60%;
    color: white;
}


.player{
    margin-left: 12%;
    padding: 10%
    
}